{% extends 'base.html' %}
{% block menu %}
    <li><a href="{% url 'choice_add' %}">Add choice</a></li>
    <li><a href="{% url 'index' %}">Polls</a></li>
{% endblock %}
{% block content %}
    <h1 class="mt-3">Choices</h1>
    <hr>
        {% if is_paginated  %}
        {% include 'partial/pagination.html' %}
    {% endif %}
    <hr/>
    <div class="row">
        {% for choice in choices %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-3">
                <div class="card">
                    <div class="card-body">
                        <a href="{% url 'choice_view' choice.pk %}"><h2 class="card-text card-link">
                            {{ choice.text }}
                        </h2></a>
                        <a href="{% url 'choice_update' choice.pk %}"><i class="fas fa-edit"></i></a>
                        <a href="{% url 'choice_delete' choice.pk %}"><i class="fas fa-trash"></i></a>
                        <p class="card-text">{{ choice.get_category_display }}</p>
                        <p class="card-text text-right"><b>{{ choice.poll }}</b></p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
          {% if is_paginated  %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}